@font-face {
    font-family: 'roboto_slabregular';
    src: url('/static/font/robotoslab_regular/RobotoSlab-Regular-webfont.eot');
    src: url('/static/font/robotoslab_regular/RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/font/robotoslab_regular/RobotoSlab-Regular-webfont.woff') format('woff'),
         url('/static/font/robotoslab_regular/RobotoSlab-Regular-webfont.ttf') format('truetype'),
         url('/static/font/robotoslab_regular/RobotoSlab-Regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    background-color: #fcfcfc;
    font-family: 'roboto_slabregular', sans-serif;
    margin: 0;
    height: 100%;
}

small {
    color: gray;
}

ul {
    list-style-type: none;
}

#header.img {
    height: 23px;
    max-height: 23px;
    min-height: 23px;
}

#header.a {
    margin: 4px 0;
}

#content {
    flex-grow: 1;
}

#loading {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

#manualnotice {
    margin: 10px 0 -5px 0;
}

#incidents .group li:first-child small {
    color: inherit;
}

#incidents .group div li:not(:first-child) {
    padding-left: 20px;
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 0;
    border-bottom-color: lightgrey;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
}

#incidents .group div li:nth-child(2) {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-top: 2px;
}

#incidents .group div li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: 0;
    margin-bottom: 2px;
}

.group {
    padding: 1px;
    border-radius: 3px;
}

.group li {
    padding: 15px 5px;
    margin: 2px;
    border-radius: 3px;
}

.hidden {
    display: none !important;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.banner {
    padding: 40px 0;
    flex-shrink: 0;
}

.banner a {
    text-decoration: underline;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.alert {
    padding: 15px;
    margin: 20px 0;
    border-radius: 5px;
    border-width: 1px;
}

.info {
    background-color: #D9EDF7;
    color: #31708F;
    border-color: #BCE8F1;
}

.success {
    background-color: #DFF0D8;
    color: #3C763D;
    border-color: #D6E9C6;
}

.warning {
    background-color: #FCF8E3;
    color: #8A6D3B;
    border-color: #FAEBCC;
}

.danger {
    background-color: #F2DEDE;
    color: #A94442;
    border-color: #EBCCD1;
}

.pointer {
    cursor: pointer;
}
